{% extends 'base/root.html' %}{% block body %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"
      ><img
        src="https://bulma.io/images/bulma-logo.png"
        alt="logo"
        width="112"
        height="28" /></a
    ><a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      ><span aria-hidden="true"></span><span aria-hidden="true"></span
      ><span aria-hidden="true"></span
    ></a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/apps/buscador/profesional/"
      >Agendamiento Con medicos</a>
<!--      <div class="navbar-item has-dropdown is-hoverable">-->
<!--        <a class="navbar-link">Buscador</a> -->
<!--        <div class="navbar-dropdown">-->
<!--          <a class="navbar-item">Instituciones</a-->
<!--          ><a class="navbar-item" href="/buscador/profesional/"-->
<!--            >Profesionales</a-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        {% if user.is_authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">{{ user.last_name }}</a>
          <div class="navbar-dropdown">
            <a class="navbar-item">Perfil</a
            ><a class="navbar-item">Configuración</a>
            <hr class="navbar-divider" />
            <a class="navbar-item">Cerrar sesión</a>
          </div>
        </div>
        {% else %}
        <div class="buttons">
          <a class="button is-primary">Registrarse</a
          ><a class="button is-light">Acceder</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% block content %}{% endblock %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
    (document.querySelectorAll(".navbar-burger") || []).forEach(
      ($navbarBurger) => {
        // Add a click event on each of them
        $navbarBurger.addEventListener("click", () => {
          const target = $navbarBurger.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          $navbarBurger.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      }
    )
});
</script>{% endblock %}
